.example-card {
  margin-top: 20px;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  float: left;
  cursor: pointer;
}
.card-size{
  max-width: 17vw;
  min-width: 17vw;
}

.center-item{
  display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.center{
  margin: auto;
padding: 10px;
 margin-top: 10vh;
}


@media only screen and (max-width: 600px) {
 
  .card-size{
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 40px;
  }
  .example-card {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  float: left;
  cursor: pointer;
  }
  
}